{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}


{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}


{% block html_head %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}


{% block registration_title %}{% trans 'Password reset' %}{% endblock %}

{% block registration_content %}

{% if validlink %}

<h2>{% trans 'Enter new password' %}</h2>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
    <table class="table-form">
        {% include 'includes/form.html' %}
        <tr class="submit-row">
            <td>
                <input type="submit" name="action" value="{% trans 'Change my password' %}">
            </td>
        </tr>
    </table>
</form>

{% else %}

<h2>{% trans 'Password reset unsuccessful' %}</h2>

<p>
    The password reset link was invalid, possibly because it has
    already been used.
    <a href="{% url 'password_reset' %}">
        Please request a new password reset</a>.
</p>

{% endif %}

{% endblock %}
